<?xml version="1.0" encoding="UTF-8"?>
<mapper nameSpace="com.monetto.mapper.Mapper">

    <SeleCT id="sampleSelect" resultType ="app.entry.SampleEntry">
        select * from eel_user where name = ${name} and password = ${password};
    </SeleCT>

    <INSERT id="sampleInsert">
        insert into eel_user (name, password) values(${name}, ${password});
    </INSERT>

    <DElete id="sampleDelete">
        delete from eel_user where name = ${name} and password = ${password};
    </DElete>

    <update id="sampleUpdate">
        update eel_user set password = ${password} where name = ${name};
    </update>

    <SQL_TYPE1 id="type_insert">
        insert into eel_user (name, password) values(${name}, ${password});
    </SQL_TYPE1>

    <SQL_TYPE1 id="type_update">
        update eel_user set password = ${password} where name = ${name};
    </SQL_TYPE1>

    <SQL_TYPE2 id="type_dalete">
        delete from eel_user where name = ${name} and password = ${password};
    </SQL_TYPE2>

</mapper>